ANANTH_DEV/force-app/main/default/flows/Data_Correction_for_Players.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Total_Points</name>
        <label>Add Total Points</label>
        <locationX>455</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Player1TotalPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Player1Points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Player2TotalPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Player2Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Winner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Games_Won</name>
        <label>Games Won</label>
        <locationX>986</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Player1GameWon</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Player</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Player2Won</name>
        <label>Player2 Won</label>
        <locationX>666</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Player2GameWon</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Player</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Winner</name>
        <label>Winner</label>
        <locationX>656</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Player2Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Win</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Winner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Player_1__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Games_Won</targetReference>
            </connector>
            <label>Win</label>
        </rules>
    </decisions>
    <interviewLabel>Data Correction for Players {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Correction for Players</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Player_1</name>
        <label>Get Player 1</label>
        <locationX>314</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Player_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player_1__r.Id</elementReference>
            </value>
        </filters>
        <object>Player__c</object>
        <outputAssignments>
            <assignToReference>Player1GameWon</assignToReference>
            <field>Games_Won__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Player1TotalPoints</assignToReference>
            <field>Total_Points__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Player_2_0</name>
        <label>Get Player 2</label>
        <locationX>240</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Total_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player_2__r.Id</elementReference>
            </value>
        </filters>
        <object>Player__c</object>
        <outputAssignments>
            <assignToReference>Player2GameWon</assignToReference>
            <field>Games_Won__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Player2TotalPoints</assignToReference>
            <field>Total_Points__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Player</name>
        <label>Update Player</label>
        <locationX>1405</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Player_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Games_Won__c</field>
            <value>
                <elementReference>Player1GameWon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Points__c</field>
            <value>
                <elementReference>Player1TotalPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Player_2</name>
        <label>Update Player 2</label>
        <locationX>1603</locationX>
        <locationY>669</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player_2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Games_Won__c</field>
            <value>
                <elementReference>Player2GameWon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Points__c</field>
            <value>
                <elementReference>Player2TotalPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Player_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Game__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Player1GameWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Player1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Player_1__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>Player1Points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Player_1_Points__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Player1TotalPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Player2GameWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Player2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Player_2__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>Player2Points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Player_2_Points__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Player2TotalPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
